/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

/* 로그인 모달 스타일 */
.modal {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #ffffff;
   border-radius: 5px;
   padding: 20px;
   z-index: 1000;
   height: 420px;
   width: 450px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transition: opacity 0.3s ease-in-out; 
   animation: fadeIn 0.5s ease-in-out; /* Add fade-in animation */
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.fade-out {
   animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
.modal-content {
   position: relative;
}
.close {
   position: absolute;
   top: -20px;
   right: 5px;
   font-size: 20px;
   cursor: pointer;
}
/* 로그인 폼 디자인 */
form{
   padding: 1px 40px 40px 40px; /* 위, 오른쪽, 아래, 왼쪽 순서로 패딩 값을 지정 */
}
h3 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-family: Noto Sans KR;
}
ul label {
   display: block;
   position: relative;
   margin: 40px 150px;
 }
 .label-txt {
   margin-top: 30px;
   margin-bottom: 5px;
   padding-left: 5px;
   font-family: Noto Sans KR;
   font-size: 14px;
   color: #333;
 }
 .input {
   width: 90%;
   padding: 10px;
   background: transparent;
   border: none;
   outline: none;
   font-size: 14px;
   color: #333;
 }
 .line-box {
   position: relative;
   width: 100%;
   height: 2px;
   background: #BCBCBC;
 }
 .line {
   position: absolute;
   width: 0%;
   height: 2px;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   background: #747999;
   transition: ease .6s;
}
 .input:focus + .line-box .line {
   width: 100%;
}
 .label-active {
   top: -3em;
}
 #login_button {
   width: 49%;
   margin-top: 23px;
   display: inline-block;
   padding: 12px 24px;
   background: #747999;
   /* font-weight: bold; */
   color: #ffffff;
   border: none;
   outline: none;
   border-radius: 3px;
   cursor: pointer;
   transition: ease .3s;
   font-family: Noto Sans KR;
}
 #login_button:hover {
   background: #c1cedf;
   color: white;
   /* rgb(137, 137, 137); */
   font-family: Noto Sans KR;
}
#signup_button{
   width: 49%;
   margin-top: 30px;
   display: inline-block;
   padding: 12px 24px;
   background: rgb(240,240,240);
   color: rgb(137, 137, 137);
   /* font-weight: bold; */
   font-family: Noto Sans KR;
   border: none;
   outline: none;
   border-radius: 3px;
   cursor: pointer;
   transition: ease .3s; 
}
#signup_button:hover {
   background: white;
   color: rgb(120,120,120);
   font-family: Noto Sans KR;
}
.na ul {
   text-align: center;
   font-size: 14px;
}
.na p {
   font-size: 11px;
   color: #333;
   display: inline-block;
   margin: 10px;
   text-align: center;
   margin-right: 45px;
   margin-top: 20px;
   margin-bottom: 50px;
   font-family: Noto Sans KR;
}
li{
   list-style: none;
}
 
/* 로그인 아이콘 스타일 (예시) */
.login-icon {
   cursor: pointer;
}
/* 로그인 아이콘 스타일 (예시) */
.login-icon {
   cursor: pointer;
}
body, html {
   background: #000000;
   overflow: hidden;
   margin: 0;
}
#home {
   padding: 240px 0 50px;
   margin: 0;
   background: #111 url("../images/오픈\ 페이지.jpg") center center;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   position: relative;
   text-align: center;
   height: 100vh;
}
img#logo{
   max-width: 70px; /* 최대 너비 설정 */
   position: absolute;
   top: 2%;
   left: 6%; /* 상대적인 왼쪽 위치 값 사용 */
}
img#login_logo{
   max-width: 75px; /* 최대 너비 설정 */
   position: absolute;
   top: 3%;
   right: 6%; /* 상대적인 오른쪽 위치 값 사용 */
}
#caption{
   position: relative;
   top: -110px; /* -140px */
}
#caption h1{
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 100;
   font-size: 42px;
   margin-bottom: 18px;
   line-height: 48px;
   color: #eee;
   position: relative;
   text-transform: initial;
   z-index: 2;
}
#caption p{
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 400;
   font-size: 15px;
   position: relative;
   max-width: 400px;
   margin: 0 auto 30px;
   z-index: 2;
   color: #eee;
}
.center-button {
   padding: 10px 0;
   text-align: center;
}
a.default-button {
   color: #fff;
   font-size: 12px;
   /* font-family: "Open Sans", sans-serif; */
   font-weight: 600;
   padding: 12px 24px;
   /* background: #954129; */
   background: rgb(163, 96, 67);
   text-transform: uppercase;
   letter-spacing: 0.5px;
   text-decoration: none;
   opacity: 0.95;
   transition: 0.3s;
   border-radius: 20px;
}
a.default-button:hover {
   background: transparent;
   color: black;
   background-color: rgb(247, 245, 200);
   transform: scale(1.05);

   a.default-button::before {
     transform: scaleX(1);
   }
} 
